html {
    min-width: 550px;
    /* position: relatiave; */
}

* {
    outline: none;
    border: none;
    text-decoration: none;
    /* box-sizing: border-box; */
    list-style: none;

}

li a {
    text-decoration: none;
}

nav {
    background: #eee;
    /* position: absolute; */
    top: 0;
    position: fixed;
    bottom: 0;
    height: 100%;
    left: -25px;
    width: 120px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    /* z-index: 1; */

}

.logo {
    display: flex;
    text-align: center;
    transition: all 0.2s ease;
    margin: 18px 0 0 18px;
}

.logo img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 20px;
    text-transform: uppercase;
}

a {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 300px;
    padding: 10px;
    color: black;

}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 25px;
    text-align: center;
    color: black;
}

.nav-items {
    position: relative;
    top: 12px;
    margin-left: 10px;
    color: black;
}

a:hover {
    background-color: aquamarine;
}

.main-nav:hover {
    width: 300px;
    transition: all 0.5 ease;

}

.logout {
    position: absolute;
    bottom: 0;
}

li {
    margin-top: 30px;
}



/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

@media (max-width:750px) {
    nav {
        position: fixed;
        /* background: #333; */
    }

    .container {
        overflow: auto;
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;

    }

    table {
        float: right;
        overflow: auto;
    }



    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "Id ";
    }

    td:nth-of-type(2):before {
        content: "Your Name";
    }

    td:nth-of-type(3):before {
        content: "Description";
    }

    td:nth-of-type(4):before {
        content: "File Name";
    }

    td:nth-of-type(5):before {
        content: "File Store as";
    }

    td:nth-of-type(6):before {
        content: "Delete File";
    }


}

@media (max-width: 1015px) {
    .containers {
        /* width: 100%; */
        padding-left: 100px;
    }
}

@media (max-width: 890px) {
    .containers {
        /* width: 100%; */
        padding-left: 100px;
    }
}

@media (max-width: 800px) {
    .containers {
        /* width: 100%; */
        padding-left: 100px;
    }
}